<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consumer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<table border="1">
    <tr>
        <th>IP</th>
        <th>Количество запросов</th>
    </tr>
    <tr th:each="note: ${statistics}">
        <td th:text="${note.key}"></td>
        <td th:text="${note.value}"></td>
    </tr>
</table>

<table>

</table>

</body>
</html>